div {
  font-family: 'Consolas', serif;
  font-size: 24pt;
  margin-left: 2%;
}

.heart {
  height: 100px;
  width: 100px;

  font-size: 50pt;
}

.black {
  color: #000000;
}

.red {
  color: #f81d1d;
}
