body {
  font-family: 'Consolas', serif;
  font-size: 20pt;
}

div {
  margin: 10px;
}

.block {
  border-style: solid;
  padding: 1%;
}

h4 {
  color: #535353;
}

.heart {
  height: 100px;
  width: 100px;

  font-family: 'Contra', serif;
  font-size: 50pt;
}

.black {
  color: #000000;
}

.red {
  color: #f81d1d;
}

input {
  height: 30px;
  width: 200px;

  border-style: solid;
  border-color: #000000;
}

button {
  height: 30px;
  width: 200px;

  border-style: solid;
  border-color: #000000;

  background-color: #ffffff;
}
