body {
  font-family: 'Consolas', serif;
  font-size: 20pt;
}

div {
  margin: 10px;
}

.block {
  border-style: solid;
  padding: 1%;
}

h4 {
  color: #535353;
}

.heart {
  height: 100px;
  width: 100px;

  font-family: 'Contra', serif;
  font-size: 50pt;
}

.black {
  color: #000000;
}

.red {
  color: #f81d1d;
}

input {
  font-family: 'Consolas', serif;
  font-size: 14pt;
  text-align: center;

  height: 30px;
  width: 200px;

  border-style: solid;
  border-color: #000000;

  margin: 1%;
}

button {
  font-family: 'Consolas', serif;
  font-size: 14pt;

  height: 36px;
  width: 200px;

  border-style: solid;
  border-color: #000000;

  background-color: #ffffff;

  margin: 1%;
}

span {
  margin: 1%;
}

.zeroTemp {
  color: #000000;
}

.coldTemp {
  color: #3b4b90;
}

.hotTemp {
  color: #f81d1d;
}

.count {
  height: 30px;
  width: 30px;
}

select {
  height: 30px;
  width: 200px;
  border: solid 2px;
}

.link {
  color: #3b4b90;
}
